.bigSlider {
  min-width: 200px;
}
.slider {
  width: 100%;
}
.login1 {
  height: 80%;
}
.specinput span.imagedonw {
  background-color: var(--sec-button-color);
  padding: 12px 35px;
  left: 69px;
  z-index: -1;
  border-radius: 20px;
}
