:root {
  --main-button-color: rgb(250, 202, 130);
  --sec-button-color: rgb(124, 193, 232);
  --perpul-color: rgb(132, 089, 222);
  --blue-text-back: rgba(036, 187, 242);
  --spec-text-color: rgba(248, 176, 188);
  --background-color: rgba(137, 212, 243);
  --background-color2: rgba(252, 201, 132);
  --back-blue: rgba(070, 178, 224);
  --titre-color: rgba(108, 104, 139);
  --footer-color: rgba(036, 054, 104);
  --reade-more-color: rgba(254, 189, 197);
}
